body{
    background: #73c1bc5c;
}
div{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
img{
    border: 1px black solid;
    height: 150px;
}

.selected{
    border: 3px blue solid;
}
.centered{
    justify-content: center;

}
